body {
    /* background-color: black; */
    background-image: url("../img/backgrounds-blank-blue-953214.jpg");
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 75px;
    text-align: center;
    border: 5px solid black;
}

/* Shapes for CSS
http://jsfiddle.net/mitrosin/xb9edv64/
*/

.quarter-circle-top-left {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
}

.quarter-circle-top-right {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 0 0 0 100px;
    -moz-border-radius: 0 0 0 100px;
    -webkit-border-radius: 0 0 0 100px;
}

.quarter-circle-bottom-left {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background: green;
    border-radius: 0 100px 0 0;
    -moz-border-radius: 0 100px 0 0;
    -webkit-border-radius: 0 100px 0 0;
}

.quarter-circle-bottom-right {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background: orange;
    border-radius: 100px 0 0 0;
    -moz-border-radius: 100px 0 0 0;
    -webkit-border-radius: 100px 0 0 0;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}